.imagem-fundo {
  background-image: url(chave.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
}
