* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #201d1d;
    background-color: #79ceff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3d113;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    
}
 


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(12, 12, 9);
    text-align: center;
}

.about-section {

    display: flex;
    padding: 40px 20px;
    background-color:#f7ca38(0, 0%, 100%);
}

.about-section img {
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  
}

.services-section {
    padding: 60px 20px;
    background-color: #f3d113;
}

.service {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:focus, form textarea:focus {
    border-color: #f7ca38;
    outline: none;
}

form button {
    background-color:#f7ca38;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    background-color: #484a4b;
    color: #bbb;
    text-align: center;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}