
img {
    width: 80px;
    height: auto;
  }
  
  .informativa {
    border: 8px solid rgb(116, 18, 18);
    border-radius: 14px;
    width: 800px;
    padding: 22px;
  }
  .decorativa {
    border: 8px solid black;
    border-radius: 14px;
    width: 800px;
    padding: 22px;
  }
  